# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/EHS.Client/node_modules
/EHS.Client/.pnp
/EHS.Client/.pnp.js

# testing
/EHS.Client/coverage

# production
/EHS.Client/build

# misc
/EHS.Client/.DS_Store
/EHS.Client/.env.local
/EHS.Client/.env.development.local
/EHS.Client/.env.test.local
/EHS.Client/.env.production.local

/EHS.Client/npm-debug.log*
/EHS.Client/yarn-debug.log*
/EHS.Client/yarn-error.log*


# Web API / Server Files 
/EHS.Server/.vs