# Global
*.dbmdl
*.jfm
**/bin
**/obj
/bin
/obj
/temp



# React App / Client Files 
# dependencies
/EHS.Client/node_modules
/EHS.Client/.pnp
/EHS.Client/.pnp.js

# testing
/EHS.Client/coverage

# production
/EHS.Client/build

# misc
/EHS.Client/.DS_Store
/EHS.Client/.env.local
/EHS.Client/.env.development.local
/EHS.Client/.env.test.local
/EHS.Client/.env.production.local

/EHS.Client/npm-debug.log*
/EHS.Client/yarn-debug.log*
/EHS.Client/yarn-error.log*


# Web API / Server Files 
/EHS.Server/.vs

**/EHS.Server/EHS.Server.WebApi/appsettings.development.json
**/EHS.Server/EHS.Server.WebApi/appsettings.staging.json
**/EHS.Server/EHS.Server.WebApi/appsettings.production.json

# Testing Dir for event files 
/EHS.Server/Event_Files_Test


# Root files 
**/temp