/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2014
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [EHS_Dev]    Script Date: 11/8/2019 10:32:39 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'EHS_Dev')
DROP DATABASE [EHS_Dev]
GO
/****** Object:  Database [EHS_Dev]    Script Date: 11/8/2019 10:32:39 AM ******/
CREATE DATABASE [EHS_Dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EHS_Dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EHS_Dev.mdf' , SIZE = 1122304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EHS_Dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EHS_Dev_log.ldf' , SIZE = 5709824KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EHS_Dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
