body {
  margin: 0;
  /* background-color: #dfe1e2;  */
  background-color: #eeeeee; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand > img {
  display: inline-block;
  border-radius: 2px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Main dashboard Components, including the Dashboard, ReportsAside, and UserAside components  */
.dashboard-parent {
  display: flex; 
  justify-content: space-between;
  height: 90vh;
  overflow: hidden;
}

.dashboard {
  flex-grow: 6; 
  background-color: lightblue; 
}

.report-aside {
  flex-grow: 1; 
  background-color: lightyellow;  
}

.user-aside {
  flex-grow: 1; 
  background-color: lightgreen;  
}