<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Error"
      throwExceptions="true"
      internalLogFile="C:\ehs\nlog\nlog-internal.log">
  

  <!-- the targets to write to -->
  <targets>
    <!-- write to SQL database-->
    <target xsi:type="Database"
            name="sqlLog"
            connectionString="${gdc:item=nLogConnectionString}"
            commandText="Insert into app.AppLog ( AppId, Level, Logger, UserName, MachineName, LoggedOn, Thread, Message, CallSite, Exception, StackTrace)
                          values (1, left(@Level, 4000), left(@Logger, 4000), left(@UserName, 4000), left(@machinename, 4000), @LoggedOn , left(@Thread, 4000) , left(@Message, 4000), left(@CallSite, 4000), left(@Exception, 4000), left(@StackTrace, 4000)   );">
      <parameter name="@AppId" layout="1" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Username" layout="${environment-user}" />
      <parameter name="@Machinename" layout="${machinename}" />
      <parameter name="@Loggedon" layout="${date:universalTime=true}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@Exception" layout="${replace-newlines:${exception:format=tostring}}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
    </target>


    <!-- write logs to file -->
    <target xsi:type="File"
            name="fileLog"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
            fileName="${basedir}/logs/current.txt"
            archiveFileName="${basedir}/logs/archiveLog.{#}.log"
            maxArchiveFiles="14"
            archiveEvery="Day"/>


    <target xsi:type="Console" name="consoleLog"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="sqlLog,fileLog,consoleLog" />
  </rules>
</nlog>